@use "../App.scss" as app;

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.cardPrimary .card__header {
  background: app.$primary-color;
  color: #fff;
}

.cardSecondary .card__header {
  background: lighten($color: app.$secondary-color, $amount: 15%);
  color: #fff;
}

.cardName {
  color: #fff;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
}
.cardPrice {
  font-size: 6rem;
}

.cardBillingCycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.cardDescription {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
