@use "../App.scss" as app;

.icon {
  height: 30px;
  width: 30px;
  fill: black;
}

.iconContainer {
  cursor: pointer;
  height: 55px;
  width: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 100%;
  transition: all 0.3s;
}

.iconContainer:hover {
  background: rgb(208, 212, 212);
}
