@use "../App.scss" as app;

.linkArrow {
  color: app.$accent-color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.linkArrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.linkArrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .linkArrow {
    font-size: 1.5rem;
  }
}
