@use "../App.scss" as app;

.navBarBackground {
  background-color: gold;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.navBarToggler {
  display: flex;
}

.navBarMenuContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBarMenuToolContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarMobileMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.navBarMobile .navBarMobileMenuContainer {
  max-height: 100vh;
  opacity: 1;
}

.navBarMenuItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  cursor: pointer;
  height: 55px;
  width: 100px;
  margin: 0 20px;
}

.navBarMenuItem {
  display: flex;
  align-items: center;
}

.navBarDropdownMenuContainer {
  background-color: green;
  width: 100vw;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
}

.navBarDropdownMenuItem {
  display: flex;
  margin: 0 40px;
  height: 80px;
  width: 160px;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.navBarMenuItemContainer:hover .navBarDropdownMenuContainer {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .navBarToggler {
    display: none;
  }

  .navBarMenuContainer {
    display: flex;
  }

  .navBarMobile .navBarMobileMenu {
    max-height: 0;
    opacity: 0;
  }
}
