@use "../App.scss" as app;

.navBarBackground {
  background-color: gold;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.navBarMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBarMenuTools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarMenuItem {
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.navBarToggler {
  display: none;
}

@media screen and (max-width: 768px) {
  .navBarToggler {
    display: flex;
  }

  .navBarMenuContainer {
    display: none;
  }
}
