@use "../App.scss" as app;

.navBarBackground {
  background-color: gold;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 65px;
}

.navBarMenuContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBarMenuTools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarMenuItem {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.navBarToggler {
  display: flex;
}

.navBarMobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.navBarMobile .navBarMobileMenu {
  max-height: 100vh;
  opacity: 1;
}

.navBarDropdownMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navBarToggler {
    display: none;
  }

  .navBarMenuContainer {
    display: flex;
  }

  .navBarMobile .navBarMobileMenu {
    max-height: 0;
    opacity: 0;
  }
}
