@use "../App.scss" as app;

.gridContainer {
  display: grid;
}

@media screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 2fr 1fr;
  }
}

.gridItem_1 {
  width: 100%;
}

.gridItem_2 {
  width: 100%;
}
